<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin Panel</title>
</head>
<body>
    <h2>Admin Panel</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/admin/update/<%= user._id %>">Update</a> |
                    <a href="/admin/delete/<%= user._id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
    <a href="/auth/logout">Logout</a>
</body>
</html>
