<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Signup</title>
</head>
<body>
  
    <form action="/auth/signup" method="POST">
        <h2 class="head2">Signup</h2>
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Signup</button>
        <a class="anc" href="/auth/login">Already have an account? Login</a>
    </form>

</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2 class="login-heading">Signup</h2>
            <form action="/auth/signup" method="POST">
                <input type="text" name="name" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="btn-login">Signup</button>
                <p class="signup-link">Already have an account? <a href="/auth/login">Login here</a></p>
            </form>
        </div>
    </div>
</body>
</html>
